* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.main-container {
    width: 1440px;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    padding: 0 100px;
    color: #272042;
    /* border: 1px solid red; */
}
#menuToggle {
    display: none;
}

@media screen and (max-width: 1440px) {
    .main-container {
        width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    .main-container {
        padding: 0 20px;
    }
}

.navigation {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .navigation {
        flex-direction: column;
        margin-top: 10px;
    }
}

@media screen and (max-width: 700px) {
    .navigation {
        align-items: flex-end;
    }
}

.navigation-items {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.nav-actions {
    display: flex;
    gap: 50px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .navigation-items {
        justify-content: space-between;
        gap: auto;
        width: 100%;
        padding: 0 20px;
    }
    .nav-actions {
        
        
    }
    
}



@media screen and (max-width: 760px) {
    .navigation-items {
        display: none;
    }
    #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  padding-left: 20px;
  z-index: 1;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
 
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0c0c0c;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align: center;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}

.logo > p {
    font-size: 28px;
}

.navigation-items li {
    font-size: 18px;
    color: #8B8BA5;
    border-bottom: 4px solid transparent;
}

.navigation-items li:hover {
    border-bottom-color: #FBE0DC;
    cursor: pointer;
}

.nav-button {
    padding: 15px 30px;
    background-color: #FBE0DC;
    border-radius: 30px;
}

.slogan-section {
    margin-top: 90px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slogan-image {
    margin-left: 10px;
}
.app-box-content{
    padding-left: 30px;
}

@media screen and (max-width: 1400px) {
    .slogan-section {
        padding: 0;
        justify-content: space-around;
    }
    
    .slogan-image {
        width: 480px;
    }

    .slogan-image img {
        width: 100%;
    }
}


.slogan-box {
    width: 425px;
}

.slogan-box > h1, .app-box h1 {
    font-size: 46px;
    line-height: 70px;
    color: #272042;
}

.slogan-box > p, .app-box p {
    font-size: 20px;
    line-height: 34px;
    color: #8B8BA5;
    margin: 10px 0 40px 0;
}

@media screen and (max-width: 1150px) {
    .slogan-box {
        width: 350px;
    }
    .slogan-box > h1 {
        font-size: 30px;
        line-height: 34px;
    }

    .slogan-box > p {
        font-size: 1rem;
        line-height: 30px;
    }
}

@media screen and (max-width: 730px) {
    .slogan-image {
        display: none;
    }

    .slogan-section {
        text-align: center;
        padding-block: 30px;
        position: relative;
        margin-top: 40px;
    }

    .slogan-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('./assets/images/titleimg.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .25;
        filter: blur(3px);
    }

    .slogan-box > p {
        color: #272042;
    }
}

.underline {
    position: relative;
    /* border: 1px solid red; */
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FBE0DC;
    height: 8px;
    border-radius: 100px;
    z-index: -1;
}

.pick-menu {
    padding: 15px 40px;
    background-color: #F7C531;
    color: #272042;
    border: none;
    font-size: 18px;
    border-radius: 30px;
}

.special-try {
    margin-top: 145px;
    /* border: 1px solid red; */
}

.special-try > h3 {
    /* width: fit-content;
    margin: 0 auto; */
    text-align: center;
    font-size: 32px;
}

.special-section-nav {
    margin-top: 30px;
}

.special-section-nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

@media screen and (max-width: 730px) {
    .special-try {
        margin-top: 50px;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 540px) {
    .special-section-nav > ul {
        font-size: 16px;
    }
}

.special-section-nav > ul li {
    margin-right: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.special-section-nav > ul li:last-child {
    margin-right: 0;
}

.special-section-nav > ul li:hover {
    color: #F7C531;
    border-bottom: 2px solid #F7C531;
    cursor: pointer;
}

.food-image {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.food-item {
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .food-image {
        flex-wrap: wrap;
        gap: 30px;
    }
    .food-item {
        /* border: 1px solid red; */
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 580px) {
    .food-item {
        width: 100%;
        border-radius: 15px;
    }
}

.food-item > img {
    margin-bottom: 20px;
}

.food-item > h4 {
    font-size: 20px;
}

.food-item > p {
    margin: 10px 0;
    color: #8B8BA5;
}

.chef-block {
    margin-top: 125px;
    /* border: 1px solid red; */
}
@media screen and (max-width: 1400px) {
    .chef-block{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .chef-block-content .chef-main-text{
        font-size: 20px;
        line-height: 30px;
        text-align: center;

    }
    
}

.chef-block-content {
    width: 736px;
    /* border: 1px solid green; */
    margin: 0 auto;
    position: relative;
    /* border: 1px solid green; */
}

.chef-block-content::before {
    content: "“";
    font-size: 500px;
    color: #f1f1f1;
    position: absolute;
    top: -220px;
    left: -180px;
    /* border: 1px solid magenta; */
    font-weight: 700;
    z-index: -1;
}
@media screen and (max-width: 1400px) {
    .chef-block-content::before {
        content: "“";
        font-weight: 700;
        font-size: 400px;
    color:#f1f1f1;
    position: absolute;
    top: -190px;
    left: -50px;
    z-index: -1;
    margin-left: 30px;
    }
}

.chef-main-text {
    font-size: 36px;
    line-height: 50px;
    font-weight: 200;
}

.chef-img {
    /* border: 1px solid magenta; */
    width: 283px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}

.chef-img  p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
}

.chef-img span {
    color: #8B8BA5;
}

.chef-img-box img {
    border-radius: 50%;
}

.chef-img-box {
    position: relative;
    /* border: 1px solid black; */
}

.chef-img-box::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FDFAE5;
    position: absolute;
    top: -4px;
    left: -5px;
    z-index: -1;
}

.chef-img-box::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #D8CBF6;
    position: absolute;
    bottom: 0px;
    right: -4px;
    z-index: -1;
}

.nums {
    /* border: 1px solid red; */
    margin-top: 100px;
}

.nums-box {
    width: 857px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1400px){
    .nums-box  {
       width: 550px;
      justify-content: space-between;
       
        
    }
    /* .nums-item{
        width: 50%;
    
    } */
    .nums-box .nums-item h3{
        font-size: 23px;
    }
    .nums-box .nums-item p{
        font-size: 14px;
    }
    
    
    
}

.nums-item h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.nums-item p {
    font-size: 20px;
    color: #8B8BA5;
    font-weight: 100;
    text-align: center;
}

.app {
    margin-top: 70px;
}

.app-box {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-end {
       
    width: 100%;
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width:1300px) {
  
   
    .app-box-image img {
        width: 500px;
    }
    
    .app-box-content h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        width: 400px;

    }
    .app-box {
        text-align: center;
      }
      .app-box-content{
        margin-left: 50px;
      }
    
}
@media screen and (max-width:1040px){
    .app-box-content h1 {
        width: 100%;
        font-size: 2em;
        line-height: 35px;
    }
    .app-box-content p{
        font-size: 18px;
        line-height: 23px;
    }
    .app-box-image img {
        width: 400px;
      }

}
@media screen and (max-width:770px) {
    .nums-box  {
        width: 100%;     
     }
    .nums-box .nums-item h3{
        font-size: 18px;
     }
     .nums-box .nums-item p{
        font-size: 14px;
     }
  .app-box{
    flex-direction: column;
    /* margin-left: 20px; */
  }
    /* .app-box-image{
        width: 600px;     
    } */
    .app-box-image img {
        width: 100%;
    }
    .app-box-content h1 {
        font-size: 20px;
        line-height: 40px;
        /* margin-left: -50px; */
    }
    .app-box-content p{
        width: 100%;
        font-size: 16px;
        /* margin-left: -50px; */
        
    }
    .phone-box img {
        width: 100px;
    }
    #footer-end {
       
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
}

.app-box-content {
    width: 100%;
}
.phone-box a:first-child {
    /* margin-right: 20px; */
}

.footer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    padding: 70px 100px;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .footers{
         
      flex-direction: column;
          
    }
}

.a {
    text-decoration: none;
    color: #0070c9;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #f2f2f2;
    font-family: calibri;
    padding: 0 22px;
    padding-bottom: 21px;
    overflow: hidden;
    width: 100%;
  }
  .footers{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    /* padding: 70px 100px; */
    align-items: center;
  }
  
  .footer-content {
    max-width: 980px;
    margin: 0 auto;
  }
  .main-container {
    padding-bottom: 40px;
  }
  
  .footer-menu {
    padding-top: 21px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-col {
    width: 20%;
    float: left;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  label h3 {
    color: #333;
    font-size: 14px;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    margin-bottom: 6px;
    margin-top: 0;
  }
  
  .product-list {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  .product-list li {
    margin-bottom: 5px;
    line-height: 1;
  }
  
  .product-list a {
    color: #555;
    display: inline-block;
    font-size: 12px;
  }
  
  .product-list a:hover {
    color: #333;
  }
  
  input[type="checkbox"]:checked + .col-section .product-list {
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    visibility: visible;
    position: static;
    transform: none;
  }
  
  input[type="checkbox"]:checked + .col-section h3::after {
    transform: rotate(45deg) scale(1.08);
  }
  
  .nowrap {
    white-space: nowrap;
  }
  @media only screen and (max-width: 767px) {
    .footer-menu {
      flex-direction: column;
    }
    footer {
      padding: 0 16px;
      padding-bottom: 21px;
    }
  
    .footer-col {
      width: 100%;
    }
  
    .item {
      border-bottom: 1px solid #d6d6d6;
    }
  
    .footer-menu h3 {
      padding: 10px 0;
      margin: 0;
      cursor: pointer;
    }
  
    .footer-menu h3::after {
      content: "+";
      float: right;
      font-size: 14px;
      font-weight: bold;
      margin-top: -2px;
      margin-right: 8px;
      transition: transform 0.3s ease;
    }
  
    .product-list {
      visibility: hidden;
      position: absolute;
      transform: translateY(-100px);
      z-index: 1;
      padding: 5px 0 16px 0;
    }
  
    .product-list li {
      margin: 0;
    }
  
    .product-list a {
      display: block;
      padding: 6px 14px;
    }
  
    .footer-col {
      overflow: hidden;
    }
  }
  @media only screen and (min-width: 767px) {
    .item-padding-top {
      padding-top: 24px;
    }
    .navbar-container h1 {
      font-size: 32px;
    }
}
.footer-menu {
    border: 1px solid redx;
    display: flex;
    align-items: center;
    align-items: stretch;
    width: 100%;
  }
  .logo2 {
    align-self: center;
  }
